{% set listItems = section.listTitleTextIcon.all() %}

<section class="section bg-black py-2xl">
    <div class="container container-grid">
        <div class="col-start-5 col-span-8 grid grid-cols-3 gap-md text-white">
            <div>
                {% include "_components/title" with { title: section.title, extraClass: 'font-heading font-bold text-md leading-tight'} %}
            </div>
            {% for item in listItems %}
                {% set graphic = item.graphic.one() %}
                <div>
                    {% if graphic %}
                        {{ svg(graphic)|attr({ class: 'mb-base' })}}
                    {% endif %}
                    {% if index is same as 1 %}
                        <h2 class="font-bold text-sm">{{ item.title }}</h2>
                    {% else %}
                        <h3 class="font-bold text-sm">{{ item.title }}</h3>
                    {% endif %}
                    <p>{{ item.textMultiple }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>