{% set text = section.ckeSimple %}
{% set link1 = section.linkField %}
{% set link2 = section.linkField2 %}

<section class="section section-nmt bg-black text-white">
    <div class="container container-grid py-2xl">
        {% include "_components/title" with { title: section.title, extraClass: "leading-tight text-heading font-bold text-lg mb-xl col-start-2 col-span-5" } %}
        {% if text or link1 or link2 %}
            <div class="col-start-3 col-span-5">
                {% if text %}
                    <div class="max-w-26">{{ text }}</div>
                {% endif %}
                {% if link1 or link2 %}
                    <div class="flex flex-row gap-xs mt-md">
                        {% if link1 %}
                            {% include "_components/link" with { linkField: link1, btnStyle: true, withArrow: true } %}
                        {% endif %}
                        {% if link2 %}
                            {% include "_components/link" with { linkField: link1, btnStyle: true, withArrow: true, btnType: 'sec' } %}
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% endif %}
    </div>
</section>