{% set img = section.img.one() %}

<section class="section {{ section.withBg ? 'section-padding bg-white'}}">
	<div class="container grid md:grid-cols-2 gap-2 md:gap-4 items-center">
		{% if img %}
			<div class="rounded-base overflow-hidden">
				{% include "_components/asset" with { asset: img, size: 'half' } %}
			</div>
		{% endif %}
		<div class="{{ section.switch ? '-order-1' : '' }}">
			{% include "_components/title" with { title: section.title, extraClass: 'font-heading font-bold text-md leading-tight mb-md' } %}
			<div>{{ section.ckeSimple }}</div>
			{% if section.linkField %}
				{% include "_components/link" with { linkField: section.linkField, btnStyle: true, withBg: true, withArrow:true, extraClass: "mt-md" } %}
			{% endif %}
		</div>
	</div>
</section>
