{% set url = url ?? null %}
{% set title = title ?? null %}
{% set text = text ?? null %}
{% set linkLabel = linkLabel ?? null %}

<a class="link-card w-full h-full" href="{{ url }}">
	<div class="w-full h-full p-sm rounded-base group-hover:bg-prim group-hover:text-white flex flex-col justify-between">
		<div>
			{% if index is same as 1 or noTitleText %}
				<h2 class="font-heading font-bold text-sm mb-xs">{{ item.title }}</h2>
			{% else %}
				<h3 class="font-heading font-bold text-sm mb-xs">{{ item.title }}</h3>
			{% endif %}
			<p class="mb-base">{{ item.textMultiple }}</p>
		</div>
		{% include "_components/link" with { 
            noLink: true, 
            label: linkLabel, 
            withArrow: true,
            noBorderAnimation: true, 
            extraClass: "text-prim group-hover:text-white"

        } %}
	</div>
</a>
